* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    /* background: rgb(15, 84, 107); */
    background-image: url('./foto2.jpg'); 
    
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-attachment: scroll;  
    background-size: cover;
    /* height: 100vh; */ 
    /* margin: 0; coloquei no *{}    */
}

ul {
    color: gold;
}

a {
    color: lightgreen;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    /* text-decoration: line-through; */
}

.menu {
    background-color: black;
    height: 50px;
    width: 100vw;
    position: fixed; /* fixa no scroll */
}

.menu li {
    list-style: none;
}

.menu ul {
    display: flex; /* colado na horizontal*/
    /* justify-content: space-between; */
    justify-content: space-around;
}

.site-subtitulo, .site-titulo {
    text-align: center;
    color: rgb(70, 17, 192);
}

.site-subtitulo {
    /* color: wheat; */
    font-style: italic;
}

section {
    color: azure;
    font-size: 1rem;
}

.img-portfolio {
    height: 100px;
    width: 100px;
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

