body {
    background: rgb(15, 84, 107);
    /* background-image: url('./foto1.jpg'); */
    
    color: white;
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-attachment: scroll;  
    background-size: 50px 500px;
    width: auto;

}

ul {
    color: gold;
}

a {
    color: lightgreen;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    /* text-decoration: line-through; */
}

.menu {
    background-color: black;
}

.menu li {
    list-style: none;
}

.menu ul {
    display: flex; /* colado na horizontal*/
    /* justify-content: space-between; */
    justify-content: space-around;
}

.site-subtitulo, .site-titulo {
    text-align: center;
    color: gold;
}

.site-subtitulo {
    /* color: wheat; */
    font-style: italic;
}







