body {
    background: rgb(15, 84, 107);
    /* background-image: url('./foto1.jpg'); */
    
    color: white;
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-attachment: scroll;  
    background-size: contain;
    width: 100%;
}

ul {
    color: gold;
}

a {
    color: lightgreen;
    text-decoration: none;
}

a:hover {
    /* text-decoration: underline; */
    text-decoration: line-through;
}

.menu {
    background-color: black;
}


